body{
    text-align: center;
    z-index:1;
}

#page_header{
   margin-top: 50px; 
   margin-bottom: 20px;
}
#page_header a{
    color:#272f59;
    text-transform: uppercase;
    text-decoration: none;
}

nav li{
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 10px;
    font-size:12px;
}

#id{
    background-color:#ffffff;
    height:270px;
    width: 800px;
}

 #id h1{
    margin-bottom:40px;
    font-family: 'Heebo',sans-serif;
}
#skills{
    background-color:#3d3332;
    height:300px;
    color: #ffffff;
    padding-top:50px; 
    font-size:1.5em;
    
}
#skills p{
    color:gray;
}

button{
    color:#3d3332;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
footer{
    background-color:#272f59;
    height:100px;
    padding-top: 20px; 
    color: white;
    font-size: 12px;
    text-align: center
}

#christ  { 
 position: absolute;
 left: 14px;
 top: 0px;
 z-index:1;

}

.row{
    font-weight: bold;
    
}
    
