body{
    text-align: center;
}

#page_header{
    padding-top:50px;
   
   margin-bottom: 20px;
   background-color: ghostwhite;
}
#page_header a{
    color:#272f59;
    text-transform: uppercase;
    text-decoration: none;
}

nav li{
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 10px;
    font-size:12px;
}
#s_media li{
list-style: none;
text-decoration: none;
display: inline-block;
padding: 10px;
}
#s_media{
    position: absolute;
    top: 20px;
    right:30px;
    font-size:0.1em;
}

#id{
    background-color:#ffffff;
    height:270px;
    width: 800px;
    padding-top: 50px;
}

 #id h1{
    margin-bottom:40px;
    font-family: 'Heebo',sans-serif;
}
#skills{
    background-color:#3d3332;
    height:300px;
    color: #ffffff;
    padding-top:50px; 
    font-size:1.5em;
    
}
#skills p{
    color:gray;
}

button{
    color:#3d3332;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;

}
footer{
    background-color:#272f59;
    height:100px;
    padding-top: 20px; 
    color: white;
    font-size: 12px;
    
}

#christ  { 
 position: absolute;
 left: 14px;
 top: 20px;
 z-index:1;

}
#christ h5{
    float: right;
    font-family:  'Heebo',sans-serif;
    margin-top:40px; 
    padding-left: 10px;
}

.row{
    font-weight: bold;
    
}
    
